@import 'tailwindcss';

@theme {
    --color-c-background: rgb(32, 28, 28);
    --color-c-d-black: rgb(31, 31, 31);
    --color-c-black: rgb(38, 38, 38);
    --color-c-red: rgb(244, 71, 71);
    --color-c-green: rgb(106, 153, 85);
    --color-c-yellow: rgb(215, 186, 125);
    --color-c-blue: rgb(86, 156, 214);
    --color-c-magenta: rgb(197, 134, 192);
    --color-c-cyan: rgb(78, 201, 176);
    --color-c-white: rgb(212, 212, 212);
    --color-c-l-black: rgb(128, 128, 128);
    --color-c-l-red: rgb(209, 105, 105);
    --color-c-l-green: rgb(181, 206, 168);
    --color-c-l-yellow: rgb(220, 220, 170);
    --color-c-l-blue: rgb(156, 220, 254);
    --color-c-l-magenta: rgb(197, 134, 192);
    --color-c-l-cyan: rgb(79, 193, 255);
    --color-c-l-white: rgb(255, 214, 2);
}

[data-theme='light'] {
    --color-c-background: rgb(245, 245, 245);
    --color-c-d-black: rgb(220, 220, 220);
    --color-c-black: rgb(200, 200, 200);

    --color-c-red: rgb(200, 40, 40);
    --color-c-green: rgb(60, 120, 60);
    --color-c-yellow: rgb(180, 150, 90);
    --color-c-blue: rgb(40, 120, 180);
    --color-c-magenta: rgb(150, 80, 150);
    --color-c-cyan: rgb(20, 160, 140);
    --color-c-white: rgb(30, 30, 30);

    --color-c-l-black: rgb(70, 70, 70);
    --color-c-l-red: rgb(170, 70, 70);
    --color-c-l-green: rgb(120, 170, 120);
    --color-c-l-yellow: rgb(180, 180, 130);
    --color-c-l-blue: rgb(100, 170, 220);
    --color-c-l-magenta: rgb(170, 100, 170);
    --color-c-l-cyan: rgb(50, 150, 220);
    --color-c-l-white: rgb(120, 120, 120);
    background-color: var(--color-c-black);
    color: var(--color-c-white);
}

@layer base {
    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    :root {
        --base-font-size: 16px;
    }

    body {
        color: var(--color-c-white);
        background-color: var(--color-c-background);
        font-size: var(--base-font-size);
    }

    a {
        color: var(--color-c-yellow);
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: var(--color-c-yellow);
    }

    img {
        @apply no-drag;
    }

    h1 {
        @apply text-3xl font-medium;
    }

    h2 {
        @apply text-2xl font-medium;
    }

    h3 {
        @apply text-lg font-medium;
    }

    input,
    button,
    select,
    textarea {
        @apply input-like;
    }
}

@utility input-like {
    @apply outline-none
        rounded-sm
        border
        px-0.5
        py-1
        bg-c-d-black
        text-c-white
        placeholder-c-l-black
        border-c-yellow
        focus:border-c-l-green
        hover:border-c-l-yellow

        disabled:bg-c-d-black/60
        disabled:text-c-white/85
        disabled:placeholder-c-l-black/80
        disabled:border-c-yellow/65
        disabled:cursor-not-allowed
        disabled:hover:border-c-yellow/65
        disabled:focus:border-c-yellow/65

        aria-disabled:bg-c-d-black/60
        aria-disabled:text-c-white/85
        aria-disabled:placeholder-c-l-black/80
        aria-disabled:border-c-yellow/65
        aria-disabled:cursor-not-allowed
        aria-disabled:hover:border-c-yellow/65
        aria-disabled:focus:border-c-yellow/65;
}

@utility table-bordered {
    @apply border border-c-l-black border-collapse border-solid;
}

@utility container-theme {
    @apply border bg-c-d-black border-c-yellow focus:border-c-l-green;
}

@utility no-drag {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}

.table-bordered th,
.table-bordered td {
    @apply border border-c-l-black border-solid;
}

.table-padded th,
.table-padded td {
    @apply p-1;
}
