@import 'tailwindcss';

@theme /* [data-theme='dark-1'] */ {
    --color-c-rosewater: rgb(217, 163, 163);
    --color-c-flamingo: rgb(199, 90, 90);
    --color-c-pink: rgb(180, 143, 176);
    --color-c-mauve: rgb(110, 110, 184);
    --color-c-red: rgb(167, 76, 72);
    --color-c-maroon: rgb(201, 126, 109);
    --color-c-peach: rgb(199, 152, 122);
    --color-c-yellow: rgb(215, 186, 125);
    --color-c-green: rgb(111, 155, 97);
    --color-c-teal: rgb(68, 168, 155);
    --color-c-sky: rgb(83, 176, 217);
    --color-c-sapphire: rgb(79, 136, 193);
    --color-c-blue: rgb(63, 139, 204);
    --color-c-lavender: rgb(150, 158, 223);

    --color-c-accent2: rgb(215, 186, 125);
    --color-c-accent1: rgb(215, 186, 125);
    --color-c-accent0: rgb(215, 186, 125);

    --color-c-text: rgb(230, 230, 230);
    --color-c-subtext1: rgb(200, 200, 200);
    --color-c-subtext0: rgb(154, 154, 154);

    --color-c-overlay2: rgb(106, 106, 106);
    --color-c-overlay1: rgb(84, 84, 84);
    --color-c-overlay0: rgb(63, 63, 63);

    --color-c-surface2: rgb(72, 72, 72);
    --color-c-surface1: rgb(56, 56, 56);
    --color-c-surface0: rgb(44, 44, 44);

    --color-c-base: rgb(27, 27, 27);
    --color-c-mantle: rgb(36, 36, 36);
    --color-c-crust: rgb(22, 22, 22);
}

[data-theme='dark-2'] {
    --color-c-rosewater: rgb(230, 168, 168);
    --color-c-flamingo: rgb(240, 90, 90);
    --color-c-pink: rgb(197, 134, 192);
    --color-c-mauve: rgb(122, 122, 200);
    --color-c-red: rgb(224, 82, 82);
    --color-c-maroon: rgb(201, 126, 109);
    --color-c-peach: rgb(209, 154, 124);
    --color-c-yellow: rgb(215, 186, 125);
    --color-c-green: rgb(127, 176, 105);
    --color-c-teal: rgb(78, 201, 176);
    --color-c-sky: rgb(99, 199, 255);
    --color-c-sapphire: rgb(86, 156, 214);
    --color-c-blue: rgb(79, 163, 255);
    --color-c-lavender: rgb(169, 183, 255);

    --color-c-accent2: rgb(215, 186, 125);
    --color-c-accent1: rgb(215, 186, 125);
    --color-c-accent0: rgb(215, 186, 125);

    --color-c-text: rgb(230, 230, 230);
    --color-c-subtext1: rgb(200, 200, 200);
    --color-c-subtext0: rgb(154, 154, 154);

    --color-c-overlay2: rgb(106, 106, 106);
    --color-c-overlay1: rgb(84, 84, 84);
    --color-c-overlay0: rgb(63, 63, 63);

    --color-c-surface2: rgb(72, 72, 72);
    --color-c-surface1: rgb(56, 56, 56);
    --color-c-surface0: rgb(44, 44, 44);

    --color-c-base: rgb(27, 27, 27);
    --color-c-mantle: rgb(36, 36, 36);
    --color-c-crust: rgb(22, 22, 22);
}

[data-theme='dark-3'] {
    --color-c-rosewater: rgb(230, 168, 168);
    --color-c-flamingo: rgb(240, 90, 90);
    --color-c-pink: rgb(197, 134, 192);
    --color-c-mauve: rgb(122, 122, 200);
    --color-c-red: rgb(224, 82, 82);
    --color-c-maroon: rgb(201, 126, 109);
    --color-c-peach: rgb(209, 154, 124);
    --color-c-yellow: rgb(215, 186, 125);
    --color-c-green: rgb(127, 176, 105);
    --color-c-teal: rgb(78, 201, 176);
    --color-c-sky: rgb(99, 199, 255);
    --color-c-sapphire: rgb(86, 156, 214);
    --color-c-blue: rgb(79, 163, 255);
    --color-c-lavender: rgb(169, 183, 255);

    --color-c-accent2: rgb(215, 186, 125);
    --color-c-accent1: rgb(215, 186, 125);
    --color-c-accent0: rgb(215, 186, 125);

    --color-c-text: rgb(230, 230, 230);
    --color-c-subtext1: rgb(200, 200, 200);
    --color-c-subtext0: rgb(154, 154, 154);

    --color-c-overlay2: rgb(122, 122, 122);
    --color-c-overlay1: rgb(98, 98, 98);
    --color-c-overlay0: rgb(77, 77, 77);

    --color-c-surface2: rgb(89, 89, 89);
    --color-c-surface1: rgb(73, 73, 73);
    --color-c-surface0: rgb(59, 59, 59);

    --color-c-base: rgb(36, 36, 36);
    --color-c-mantle: rgb(44, 44, 44);
    --color-c-crust: rgb(30, 30, 30);
}

[data-theme='dark-4'] {
    --color-c-rosewater: rgb(212, 212, 212);
    --color-c-flamingo: rgb(244, 71, 71);
    --color-c-pink: rgb(197, 134, 192);
    --color-c-mauve: rgb(128, 128, 128);
    --color-c-red: rgb(209, 105, 105);
    --color-c-maroon: rgb(181, 206, 168);
    --color-c-peach: rgb(209, 154, 124);
    --color-c-yellow: rgb(215, 186, 125);
    --color-c-green: rgb(106, 153, 85);
    --color-c-teal: rgb(78, 201, 176);
    --color-c-sky: rgb(86, 156, 214);
    --color-c-sapphire: rgb(156, 220, 254);
    --color-c-blue: rgb(86, 156, 214);
    --color-c-lavender: rgb(197, 134, 192);

    --color-c-accent2: rgb(215, 186, 125);
    --color-c-accent1: rgb(215, 186, 125);
    --color-c-accent0: rgb(215, 186, 125);

    --color-c-text: rgb(230, 230, 230);
    --color-c-subtext1: rgb(200, 200, 200);
    --color-c-subtext0: rgb(154, 154, 154);

    --color-c-overlay2: rgb(122, 122, 122);
    --color-c-overlay1: rgb(98, 98, 98);
    --color-c-overlay0: rgb(77, 77, 77);

    --color-c-surface2: rgb(89, 89, 89);
    --color-c-surface1: rgb(73, 73, 73);
    --color-c-surface0: rgb(59, 59, 59);

    --color-c-base: rgb(32, 28, 28);
    --color-c-mantle: rgb(38, 38, 38);
    --color-c-crust: rgb(31, 31, 31);
}

[data-theme='dark-classic'] {
    --color-c-rosewater: rgb(212, 212, 212);
    --color-c-flamingo: rgb(209, 105, 105);
    --color-c-pink: rgb(197, 134, 192);
    --color-c-mauve: rgb(128, 128, 128);
    --color-c-red: rgb(177, 95, 91);
    --color-c-maroon: rgb(181, 206, 168);
    --color-c-peach: rgb(209, 154, 124);
    --color-c-yellow: rgb(215, 186, 125);
    --color-c-green: rgb(106, 153, 85);
    --color-c-teal: rgb(78, 201, 176);
    --color-c-sky: rgb(86, 156, 214);
    --color-c-sapphire: rgb(156, 220, 254);
    --color-c-blue: rgb(86, 156, 214);
    --color-c-lavender: rgb(197, 134, 192);

    --color-c-accent2: rgb(215, 186, 125);
    --color-c-accent1: rgb(215, 186, 125);
    --color-c-accent0: rgb(215, 186, 125);

    --color-c-text: rgb(212, 212, 212);
    --color-c-subtext1: rgb(200, 200, 200);
    --color-c-subtext0: rgb(154, 154, 154);

    --color-c-overlay2: rgb(122, 122, 122);
    --color-c-overlay1: rgb(98, 98, 98);
    --color-c-overlay0: rgb(77, 77, 77);

    --color-c-surface2: rgb(150, 120, 70);
    --color-c-surface1: rgb(73, 73, 73);
    --color-c-surface0: rgb(59, 59, 59);

    --color-c-base: rgb(32, 28, 28);
    --color-c-mantle: rgb(38, 38, 38);
    --color-c-crust: rgb(31, 31, 31);
}

@layer base {
    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    :root {
        --base-font-size: 16px;
    }

    body {
        color: var(--color-c-text);
        background-color: var(--color-c-base);
        font-size: var(--base-font-size);
    }

    a {
        color: var(--color-c-yellow);
        text-decoration: none;
    }

    a:hover {
        color: var(--color-c-yellow);
    }

    img {
        @apply no-drag;
    }

    h1 {
        @apply text-3xl font-medium;
    }
    h2 {
        @apply text-2xl font-medium;
    }
    h3 {
        @apply text-lg font-medium;
    }

    input,
    select,
    textarea,
    button {
        @apply input-like;
    }
}

@utility input-like {
    @apply text-c-text
        bg-c-surface0

        rounded-sm
        px-0.5
        py-1
        border
        border-c-surface2
        focus:border-c-accent2
        focus:outline-none
        focus-within:border-c-accent2
        focus-within:outline-none

        disabled:bg-c-surface1
        disabled:text-c-subtext0
        disabled:border-c-overlay0
        disabled:cursor-not-allowed

        aria-disabled:bg-c-surface1
        aria-disabled:text-c-subtext0
        aria-disabled:border-c-overlay0
        aria-disabled:cursor-not-allowed;
}

@utility table-bordered {
    @apply border border-collapse border-solid;
    border-color: var(--color-c-surface2);
}

.table-bordered th,
.table-bordered td {
    border: 1px solid var(--color-c-surface2);
}

.table-padded th,
.table-padded td {
    @apply p-1;
}

@utility container-theme {
    background: var(--color-c-mantle);
    border: 1px solid var(--color-c-surface2);
}

@utility text-faded {
    @apply opacity-60;
}

@utility no-drag {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}

.no-summary-arrow summary {
    list-style: none;
}

.no-summary-arrow summary::marker,
.no-summary-arrow summary::-webkit-details-marker {
    display: none;
}
