@import 'tailwindcss';

@theme {
    --color-c-background: rgb(32, 28, 28);
    --color-c-d-black: rgb(31, 31, 31);
    --color-c-black: rgb(38, 38, 38);
    --color-c-red: rgb(244, 71, 71);
    --color-c-green: rgb(106, 153, 85);
    --color-c-yellow: rgb(215, 186, 125);
    --color-c-blue: rgb(86, 156, 214);
    --color-c-magenta: rgb(197, 134, 192);
    --color-c-cyan: rgb(78, 201, 176);
    --color-c-white: rgb(212, 212, 212);
    --color-c-l-black: rgb(128, 128, 128);
    --color-c-l-red: rgb(209, 105, 105);
    --color-c-l-green: rgb(181, 206, 168);
    --color-c-l-yellow: rgb(220, 220, 170);
    --color-c-l-blue: rgb(156, 220, 254);
    --color-c-l-magenta: rgb(197, 134, 192);
    --color-c-l-cyan: rgb(79, 193, 255);
    --color-c-l-white: rgb(255, 214, 2);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    /*for font size*/
    :root {
        --base-font-size: 16px;
    }

    body {
        color: var(--color-c-white);
        background-color: var(--color-c-background);
        background-color: var(--color-c-black);
        font-size: var(--base-font-size);
    }
    /* light mode switch*/

    body.light {
        --color-c-d-black: rgb(255, 255, 255);
        --color-c-black: rgb(250, 250, 250);
        --color-c-red: rgb(244, 71, 71);
        --color-c-green: rgb(106, 153, 85);
        --color-c-yellow: rgb(5, 70, 168);
        --color-c-blue: rgb(86, 156, 214);
        --color-c-magenta: rgb(197, 134, 192);
        --color-c-cyan: rgb(5, 110, 89);
        --color-c-white: rgb(161, 146, 146);
        --color-c-l-black: rgb(128, 128, 128);
        --color-c-l-red: rgb(209, 105, 105);
        --color-c-l-green: rgb(181, 206, 168);
        --color-c-l-yellow: rgb(220, 220, 170);
        --color-c-l-blue: rgb(156, 220, 254);
        --color-c-l-magenta: rgb(197, 134, 192);
        --color-c-l-cyan: rgb(79, 193, 255);
        --color-c-l-white: rgb(255, 214, 2);
        background-color: var(--color-c-black);
        color: var(--color-c-white);
    }

    a {
        color: var(--color-c-yellow);
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: var(--color-c-yellow);
    }

    img {
        @apply no-drag;
    }

    h1 {
        @apply text-3xl font-medium;
    }

    h2 {
        @apply text-2xl font-medium;
    }

    h3 {
        @apply text-lg font-medium;
    }

    input,
    button,
    textarea {
        @apply outline-none rounded-sm border px-0.5 py-1
    bg-c-d-black text-c-white      placeholder-c-l-black      border-c-yellow  focus:border-c-l-green hover:border-c-l-yellow;
    }
}

@utility table-bordered {
    @apply border border-c-l-black border-collapse border-solid;
}

@utility container-theme {
    @apply border bg-c-d-black border-c-yellow focus:border-c-l-green;
}

@utility no-drag {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}

.table-bordered th,
.table-bordered td {
    @apply border border-c-l-black border-solid;
}

.table-padded th,
.table-padded td {
    @apply p-1;
}
